BoogleClient/Connected Services/BoggleServices/BoggleServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BoggleModel.DataTransfer.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BoggleModel.DataTransfer.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDTO" nillable="true" type="tns:AccountDTO" />
  <xs:complexType name="LobbySettingsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatorUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyPrivacy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySettingsDTO" nillable="true" type="tns:LobbySettingsDTO" />
  <xs:complexType name="ArrayOfPublicLobbyPreviewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublicLobbyPreviewDTO" nillable="true" type="tns:PublicLobbyPreviewDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublicLobbyPreviewDTO" nillable="true" type="tns:ArrayOfPublicLobbyPreviewDTO" />
  <xs:complexType name="PublicLobbyPreviewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbySize" type="xs:int" />
      <xs:element minOccurs="0" name="PlayersInside" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicLobbyPreviewDTO" nillable="true" type="tns:PublicLobbyPreviewDTO" />
  <xs:complexType name="ArrayOfTopPlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopPlayerDTO" nillable="true" type="tns:TopPlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopPlayerDTO" nillable="true" type="tns:ArrayOfTopPlayerDTO" />
  <xs:complexType name="TopPlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayedMatches" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerNickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
      <xs:element minOccurs="0" name="WonMatches" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopPlayerDTO" nillable="true" type="tns:TopPlayerDTO" />
  <xs:complexType name="PlayerOverviewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GamesPlayed" type="xs:int" />
      <xs:element minOccurs="0" name="HighestScore" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Victories" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerOverviewDTO" nillable="true" type="tns:PlayerOverviewDTO" />
  <xs:complexType name="PlayerAnalyticsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DroppedMatches" type="xs:int" />
      <xs:element minOccurs="0" name="HighestScore" type="xs:int" />
      <xs:element minOccurs="0" name="LostMatches" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayedMatches" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
      <xs:element minOccurs="0" name="WonMatches" type="xs:int" />
      <xs:element minOccurs="0" name="WordsFound" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerAnalyticsDTO" nillable="true" type="tns:PlayerAnalyticsDTO" />
</xs:schema>