BoogleClient/Connected Services/BoggleServices/BoggleServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BoggleModel.DataTransfer.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BoggleModel.DataTransfer.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDTO" nillable="true" type="tns:AccountDTO" />
  <xs:complexType name="LobbySettingsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatorUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyPrivacy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySettingsDTO" nillable="true" type="tns:LobbySettingsDTO" />
</xs:schema>