BoogleClient/Connected Services/BoggleServices/UserManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserManagerContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8130/BoggleServices?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8130/BoggleServices?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManagerContract_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IUserManagerContract_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IUserManagerContract_ValidateEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateEmail" />
  </wsdl:message>
  <wsdl:message name="IUserManagerContract_GrantAccess_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GrantAccess" />
  </wsdl:message>
  <wsdl:message name="IUserManagerContract_GrantAccess_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GrantAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagerContract_AskForEmailValidation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AskForEmailValidation" />
  </wsdl:message>
  <wsdl:message name="IUserManagerContract_AskForEmailValidation_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AskForEmailValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagerContract_GrantValidation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GrantValidation" />
  </wsdl:message>
  <wsdl:message name="IUserManagerContract_GrantValidation_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GrantValidationResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IUserManagerContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagerContract/LogIn" message="tns:IUserManagerContract_LogIn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagerContract/CreateAccount" message="tns:IUserManagerContract_CreateAccount_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ValidateEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagerContract/ValidateEmail" message="tns:IUserManagerContract_ValidateEmail_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GrantAccess">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagerContract/GrantAccess" message="tns:IUserManagerContract_GrantAccess_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagerContract/GrantAccessResponse" message="tns:IUserManagerContract_GrantAccess_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AskForEmailValidation">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagerContract/AskForEmailValidation" message="tns:IUserManagerContract_AskForEmailValidation_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagerContract/AskForEmailValidationResponse" message="tns:IUserManagerContract_AskForEmailValidation_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GrantValidation">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagerContract/GrantValidation" message="tns:IUserManagerContract_GrantValidation_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagerContract/GrantValidationResponse" message="tns:IUserManagerContract_GrantValidation_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserManagerContract" type="tns:IUserManagerContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserManagerContract_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IUserManagerContract/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://tempuri.org/IUserManagerContract/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <soap12:operation soapAction="http://tempuri.org/IUserManagerContract/ValidateEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GrantAccess">
      <soap12:operation soapAction="http://tempuri.org/IUserManagerContract/GrantAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AskForEmailValidation">
      <soap12:operation soapAction="http://tempuri.org/IUserManagerContract/AskForEmailValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrantValidation">
      <soap12:operation soapAction="http://tempuri.org/IUserManagerContract/GrantValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManager">
    <wsdl:port name="NetTcpBinding_IUserManagerContract" binding="tns:NetTcpBinding_IUserManagerContract">
      <soap12:address location="net.tcp://localhost:8140/BoggleServices/UserManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8140/BoggleServices/UserManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ESCRITORIO-FALA\alex_</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>